@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.Task {
    font-size: 11pt;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    border-radius: 20px;
    clear: both;
    min-height: 200px;
}

.Task strong {
    color: orangered;
    font-weight: normal;
}
.Task p {
    font-weight: bold;
}

.Task p:last-child {
  display: flex;
  justify-content: space-between;
}

.Task-points {
    color: lightcoral;
    font-size: 42px;
    float: left;
}

.Task h1 {
    background: red;
    color: black;
    border-radius: 10px;
    min-height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
}

.Task a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 14pt;
}

