@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Pacifico&display=swap');
/*font-family: 'Pacifico', cursive; */
/*font-family: 'Abril Fatface', cursive;*/

.Dashboard {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  grid-gap: 5px;
}

.Dashboard-column {
  font-family: 'Hind Siliguri', sans-serif;
  background: gold;
  min-height: 50vh;
  flex: 1;
  border: 1px solid white;
  padding: 1.5em;
}

.Dashboard h1 {
  font-size: 16pt;
  text-align: center;
  background: gray;
  padding: 5px;
  color: white;
}

label {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16pt;
  padding: 5px;
  color: black;
}

.search {
  background-color: white;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}

.button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}

.button:hover {
  background-color: red;
  cursor: grab;
  box-shadow: 5px 5px maroon;
}
